# Config file for ESP application. Leave this comment in so you can find the g**d**n !($*#*(%*$)) error logs later
# Note! DO NOT FORGET THE INDENTS. Must be correct YAML.


files:
 "/etc/security/limits.conf":
     mode: "644"
     owner: "root"
     group: "root"
     content: |
         *                soft    nofile          20000
         *                hard    nofile          20000

container_commands:
    a_ulimit_set:
        command: "ulimit -HSn 20000"
        ignoreErrors: true
    b_restart_nginx:
        command: "service nginx restart"
        ignoreErrors: true