# Config file for ESP application. Leave this comment in so you can find the g**d**n !($*#*(%*$)) error logs later
# Note! DO NOT FORGET THE INDENTS. Must be correct YAML.


files:
    "/etc/logrotate.d/clustermasterlog":
         mode: "644"
         owner: "root"
         group: "root"
         content: |
             /var/app/current/logs/clusterMaster.log {
                daily
                rotate 14
                compress
                delaycompress
                missingok
                notifempty
                }

    "/etc/logrotate.d/mainlog":
         mode: "644"
         owner: "root"
         group: "root"
         content: |
             /var/app/current/logs/main.log {
                daily
                rotate 14
                compress
                delaycompress
                missingok
                notifempty
                }